{{- $github_user := promptStringOnce . "github_user" "GitHub username" -}}
{{- $github_email := promptStringOnce . "github_email" "GitHub email" -}}

[tmpDir]
    path = ".local/share/chezmoi/.tmp"

[data]
    github_user = {{ $github_user | quote }}
    github_email = {{ $github_email | quote }}

[hooks.read-source-state.pre]
    script = ".local/share/chezmoi/.install-gopass.sh"