# .gitconfig.tmpl - Git configuration
# chezmoi will template this file

[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[core]
    editor = nvim
    pager = bat
    autocrlf = input
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = simple
    autoSetupRemote = true

[fetch]
    prune = true

[diff]
    tool = nvimdiff
    colorMoved = zebra

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = green
    changed = yellow
    untracked = red

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = log --graph --oneline --decorate --all
    amend = commit --amend --no-edit
    undo = reset --soft HEAD^

[help]
    autocorrect = 1

[credential]
    helper = osxkeychain