# Example configuration file using user data
# This file demonstrates how to use the interactive prompt data

# Git configuration using prompted data
[user]
    name = {{ github_user | quote }}
    email = {{ github_email | quote }}

[github]
    user = {{ github_user | quote }}

[core]
    editor = nano
    autocrlf = input

[init]
    defaultBranch = main

[include]
    path = ~/.config/git/alias