{{-   range (list
      "DepartureMono"
      "IBMPlexMono"
      "IntelOneMono"
      "Iosevka"
      "IosevkaTerm"
      "JetBrainsMono"
      "Lilex"
      "ProggyClean"
      "Terminus"
      "VictorMono"
      "NerdFontsSymbolsOnly") }}
[".local/share/fonts/{{ . }}"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/{{ . }}.tar.xz"
    exact = true
    refreshPeriod = "168h"
    include = ["SymbolsNerdFont*", "BlexMonoNerdFont-*", "DepartureMonoNerdFont-*", "IntoneMonoNerdFont-*", "IosevkaNerdFont-*", "IosevkaTermNerdFont-*", "JetBrainsMonoNerdFont-*", "LilexNerdFont-*", "ProggyClean*", "TerminessNerdFont-*", "VictorMonoNerdFont-*"]
{{-   end }}