{
  "providers": [
    {
      "provider": "ovhcloud",
      "env_vars": {
        "OVH_BASE_URL": "https://gpt-oss-120b.endpoints.kepler.ai.cloud.ovh.net/api/openai_compat/v1"
      },
      "model": "gpt-oss-120b",
      "tool_method": "FunctionCall"
    },
    {
      "provider": "openrouter",
      "env_vars": {
        "OPENROUTER_API_KEY": "$OPENROUTER_API_KEY"
      },
      "model": "openai/gpt-oss-20b:free",
      "tool_method": "FunctionCall"
    }
  ],
  "selected_provider": 1,
  "mcp_configs": {}
}
